## Arghavan Abtahi
## Shayan Beizaee

# Introduction:
#### We decided to compare each states demographics to the number of people shot to death by police in 2015.
#### We collected our csv files from Kaggle and Statista.
#### Our goal was to have a dataset to compare the number of people shot to death by police to the ethnicity breakdown of each state.

## Data Sources:
#### https://www.kaggle.com/muonneutrino/us-census-demographic-data#acs2015_county_data.csv
#### https://www.statista.com/statistics/585253/people-shot-to-death-by-us-police-by-state/

In [1]:
import pandas as pd
from sqlalchemy import create_engine

## Extract CSVs into DataFrames:
#### step one was to import our demographics dataset into a pandas dataframe

In [2]:
csv_file = "Resources/acs2015_county_data.csv"
demographic_df = pd.read_csv(csv_file)
demographic_df

,CensusId,State,County,TotalPop,Men,Women,Hispanic,White,Black,Native,...,Walk,OtherTransp,WorkAtHome,MeanCommute,Employed,PrivateWork,PublicWork,SelfEmployed,FamilyWork,Unemployment
0,1001,Alabama,Autauga,55221,26745,28476,2.6,75.8,18.5,0.4,...,0.5,1.3,1.8,26.5,23986,73.6,20.9,5.5,0.0,7.6
1,1003,Alabama,Baldwin,195121,95314,99807,4.5,83.1,9.5,0.6,...,1.0,1.4,3.9,26.4,85953,81.5,12.3,5.8,0.4,7.5
2,1005,Alabama,Barbour,26932,14497,12435,4.6,46.2,46.7,0.2,...,1.8,1.5,1.6,24.1,8597,71.8,20.8,7.3,0.1,17.6
3,1007,Alabama,Bibb,22604,12073,10531,2.2,74.5,21.4,0.4,...,0.6,1.5,0.7,28.8,8294,76.8,16.1,6.7,0.4,8.3
4,1009,Alabama,Blount,57710,28512,29198,8.6,87.9,1.5,0.3,...,0.9,0.4,2.3,34.9,22189,82.0,13.5,4.2,0.4,7.7
5,1011,Alabama,Bullock,10678,5660,5018,4.4,22.2,70.7,1.2,...,5.0,1.7,2.8,27.5,3865,79.5,15.1,5.4,0.0,18.0
6,1013,Alabama,Butler,20354,9502,10852,1.2,53.3,43.8,0.1,...,0.8,0.6,1.7,24.6,7813,77.4,16.2,6.2,0.2,10.9
7,1015,Alabama,Calhoun,116648,56274,60374,3.5,73.0,20.3,0.2,...,1.2,1.2,2.7,24.1,47401,74.1,20.8,5.0,0.1,12.3
8,1017,Alabama,Chambers,34079,16258,17821,0.4,57.3,40.3,0.2,...,0.3,0.4,2.1,25.1,13689,85.1,12.1,2.8,0.0,8.9
9,1019,Alabama,Cherokee,26008,12975,13033,1.5,91.7,4.8,0.6,...,0.6,0.7,2.5,27.4,10155,73.1,18.5,7.9,0.5,7.9
10,1021,Alabama,Chilton,43819,21619,22200,7.6,80.5,10.2,0.4,...,1.1,1.4,1.9,32.0,17895,80.3,15.2,4.1,0.5,9.1
11,1023,Alabama,Choctaw,13395,6382,7013,0.4,55.9,42.9,0.0,...,1.9,1.4,0.8,30.7,4405,77.5,16.8,5.4,0.3,13.6
12,1025,Alabama,Clarke,25070,11834,13236,0.3,53.4,45.3,0.0,...,1.3,2.6,1.1,23.0,8161,83.1,13.6,3.3,0.0,19.4
13,1027,Alabama,Clay,13537,6671,6866,3.2,79.9,14.4,0.7,...,1.8,0.9,2.1,30.3,5180,77.5,14.7,7.8,0.0,9.4
14,1029,Alabama,Cleburne,15002,7334,7668,2.3,92.5,2.9,0.2,...,0.2,1.0,3.4,33.3,6065,76.3,15.3,8.4,0.0,8.3
15,1031,Alabama,Coffee,50884,25174,25710,6.4,71.5,17.2,0.8,...,1.0,1.3,2.8,20.9,20912,70.3,23.5,5.7,0.5,7.1
16,1033,Alabama,Colbert,54444,26303,28141,2.4,78.9,15.6,0.6,...,0.9,0.7,1.5,22.8,21290,78.6,16.1,5.2,0.0,9.0
17,1035,Alabama,Conecuh,12865,6176,6689,1.6,51.0,44.7,0.3,...,0.6,0.3,1.3,29.7,3718,77.8,13.0,8.3,0.8,22.6
18,1037,Alabama,Coosa,11027,5579,5448,2.1,65.2,30.7,0.1,...,0.9,1.0,2.1,28.6,3852,76.6,17.5,5.9,0.0,17.0
19,1039,Alabama,Covington,37886,18339,19547,1.5,83.3,13.0,0.5,...,1.5,1.9,2.2,25.5,14202,77.1,15.8,6.7,0.4,11.2
20,1041,Alabama,Crenshaw,13938,6863,7075,1.7,70.5,23.5,0.8,...,1.3,0.8,4.6,27.9,5620,74.1,17.8,7.9,0.3,9.7
21,1043,Alabama,Cullman,80965,40081,40884,4.3,92.2,1.1,0.4,...,1.5,1.0,2.6,26.4,32282,81.6,12.2,5.8,0.4,7.3
22,1045,Alabama,Dale,49866,24708,25158,6.0,69.8,19.4,0.5,...,1.6,1.7,2.6,20.4,18735,73.1,20.9,5.9,0.1,10.9
23,1047,Alabama,Dallas,42154,19450,22704,0.3,28.6,69.2,0.2,...,2.2,1.6,2.2,23.9,14094,76.6,16.7,6.2,0.4,16.4
24,1049,Alabama,DeKalb,71068,35474,35594,14.0,80.9,1.8,1.1,...,0.6,0.9,2.1,22.8,27778,78.8,12.6,8.5,0.1,7.7
25,1051,Alabama,Elmore,80763,39362,41401,2.8,73.6,21.0,0.2,...,0.4,1.2,2.2,28.5,33636,70.4,24.1,5.5,0.0,8.3
26,1053,Alabama,Escambia,37935,19524,18411,1.2,60.7,33.4,3.2,...,1.2,0.5,1.1,23.1,12294,74.5,19.0,6.4,0.1,15.6
27,1055,Alabama,Etowah,103766,50207,53559,3.6,78.5,15.4,0.3,...,0.4,0.5,3.8,23.4,41236,79.8,14.4,5.6,0.2,9.0
28,1057,Alabama,Fayette,16896,8477,8419,0.7,85.3,12.0,0.0,...,0.3,0.2,1.9,28.4,6122,81.9,14.2,3.8,0.1,10.0
29,1059,Alabama,Franklin,31634,15311,16323,15.7,78.5,4.1,0.7,...,0.2,4.7,1.4,29.0,12249,78.5,14.6,6.9,0.0,9.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3190,72095,Puerto Rico,Maunabo,11701,5779,5922,99.9,0.1,0.0,0.0,...,4.7,2.5,0.0,28.8,2459,46.7,48.5,4.8,0.0,27.9
3191,72097,Puerto Rico,Mayagüez,83418,39978,43440,99.0,0.7,0.1,0.0,...,4.1,1.2,2.2,21.8,21048,65.9,25.3,8.5,0.2,22.9
3192,72099,Puerto Rico,Moca,38815,19039,19776,99.2,0.4,0.0,0.0,...,4.3,0.8,0.6,26.0,9245,59.1,29.1,11.7,0.0,23.0
3193,72101,Puerto Rico,Morovis,32294,16067,16227,99.8,0.1,0.0,0.0,...,4.7,1.2,1.0,37.9,7740,72.5,22.9,4.4,0.2,24.7
3194,72103,Puerto Rico,Naguabo,26804,12733,14071,99.7,0.1,0.0,0.0,...,4.7,0.2,2.7,33.2,7342,63.1,23.0,14.0,0.0,10.9
3195,72105,Puerto Rico,Naranjito,29751,14700,15051,99.6,0.1,0.0,0.0,...,1.7,0.1,1.6,35.4,7315,70.5,22.9,6.5,0.0,21.9
3196,72107,Puerto Rico,Orocovis,22595,11376,11219,99.9,0.1,0.0,0.0,...,5.6,1.1,1.9,34.8,4552,58.3,32.6,8.9,0.2,31.2
3197,72109,Puerto Rico,Patillas,18441,9075,9366,99.8,0.1,0.0,0.0,...,3.2,2.3,1.3,27.3,3884,55.1,39.3,4.2,1.4,27.5
3198,72111,Puerto Rico,Peñuelas,22770,11107,11663,99.3,0.7,0.0,0.0,...,3.8,1.9,0.9,26.4,5412,60.8,31.0,8.2,0.0,26.1
3199,72113,Puerto Rico,Ponce,156054,75153,80901,99.3,0.5,0.1,0.0,...,2.8,1.8,2.5,23.0,41711,69.8,20.4,9.5,0.3,20.0
3200,72115,Puerto Rico,Quebradillas,25205,12258,12947,99.2,0.5,0.2,0.0,...,6.5,0.3,1.7,27.7,6284,66.7,24.1,9.3,0.0,16.1
3201,72117,Puerto Rico,Rincón,14841,7249,7592,91.0,5.0,0.0,0.0,...,4.8,0.0,5.1,25.0,4406,71.3,19.5,9.1,0.0,17.6
3202,72119,Puerto Rico,Río Grande,53029,25845,27184,99.3,0.6,0.1,0.0,...,2.1,4.1,2.6,38.6,17033,69.8,23.4,6.4,0.4,23.9
3203,72121,Puerto Rico,Sabana Grande,24307,11536,12771,99.0,1.0,0.0,0.0,...,3.1,0.9,1.4,24.7,5339,67.2,29.8,3.0,0.0,24.3
3204,72123,Puerto Rico,Salinas,30114,14631,15483,99.3,0.3,0.1,0.0,...,6.0,2.3,1.3,24.1,7804,61.6,32.4,6.0,0.0,12.1
3205,72125,Puerto Rico,San Germán,34125,16590,17535,99.6,0.3,0.1,0.0,...,3.0,0.9,3.7,26.5,8803,67.1,22.7,9.8,0.4,6.8
3206,72127,Puerto Rico,San Juan,371400,170416,200984,98.2,1.2,0.2,0.0,...,6.1,3.0,2.8,26.0,133186,67.6,18.9,13.4,0.2,15.8
3207,72129,Puerto Rico,San Lorenzo,39778,19485,20293,99.8,0.2,0.0,0.0,...,3.6,0.4,0.9,34.2,11327,71.5,22.2,6.2,0.1,15.8
3208,72131,Puerto Rico,San Sebastián,40471,19723,20748,99.3,0.6,0.0,0.0,...,3.4,0.9,2.8,27.9,8785,64.6,23.7,10.9,0.9,29.4
3209,72133,Puerto Rico,Santa Isabel,22913,11085,11828,99.8,0.2,0.0,0.0,...,3.4,0.8,1.7,25.6,6895,68.7,25.3,6.0,0.0,12.2
3210,72135,Puerto Rico,Toa Alta,74603,36028,38575,99.4,0.3,0.1,0.0,...,1.4,2.0,0.6,41.2,26760,70.3,21.6,7.8,0.3,15.7
3211,72137,Puerto Rico,Toa Baja,85242,40215,45027,99.5,0.3,0.1,0.0,...,2.5,4.8,2.8,35.6,30020,68.9,23.3,7.7,0.2,19.0
3212,72139,Puerto Rico,Trujillo Alto,71886,34036,37850,99.6,0.4,0.0,0.0,...,1.4,2.9,3.2,34.5,28059,68.9,21.0,10.1,0.0,7.9
3213,72141,Puerto Rico,Utuado,31474,15368,16106,99.6,0.3,0.1,0.0,...,7.8,0.7,1.0,32.4,6819,58.0,34.0,7.3,0.7,28.8
3214,72143,Puerto Rico,Vega Alta,39319,18762,20557,98.6,1.1,0.0,0.0,...,3.1,2.3,0.9,35.0,9804,75.7,20.3,4.1,0.0,21.7
3215,72145,Puerto Rico,Vega Baja,56858,27379,29479,96.4,3.4,0.1,0.0,...,1.2,1.3,0.3,32.0,13660,78.3,17.6,4.1,0.0,15.2
3216,72147,Puerto Rico,Vieques,9130,4585,4545,96.7,2.9,0.0,0.0,...,10.8,0.0,1.4,14.0,2860,44.5,41.6,13.6,0.3,12.2
3217,72149,Puerto Rico,Villalba,24685,12086,12599,99.7,0.0,0.0,0.0,...,3.2,0.0,3.3,26.9,6795,59.2,27.5,13.1,0.2,25.9
3218,72151,Puerto Rico,Yabucoa,36279,17648,18631,99.8,0.2,0.0,0.0,...,2.3,2.3,1.5,29.5,8083,65.1,27.6,7.3,0.0,24.3
3219,72153,Puerto Rico,Yauco,39474,19047,20427,99.5,0.5,0.0,0.0,...,1.6,0.7,3.1,24.6,8923,68.0,27.6,4.4,0.0,27.1

## Cleanup of Data:
#### the raw data we had was the percent of each race per county, but we needed to get the total percent for each state.
### 1. We turned the percentages of race per county into actual number of people by multiplying the percent by total population in that county.

In [3]:
demographic_df_new = demographic_df[["State", "TotalPop", "Hispanic", "White", "Black", "Native", "Asian", "Pacific"]].copy()
demographic_df_new["Hispanic"] = (demographic_df_new["Hispanic"]*demographic_df_new["TotalPop"])/100
demographic_df_new["White"] = (demographic_df_new["White"]*demographic_df_new["TotalPop"])/100
demographic_df_new["Black"] = (demographic_df_new["Black"]*demographic_df_new["TotalPop"])/100
demographic_df_new["Native"] = (demographic_df_new["Native"]*demographic_df_new["TotalPop"])/100
demographic_df_new["Asian"] = (demographic_df_new["Asian"]*demographic_df_new["TotalPop"])/100
demographic_df_new["Pacific"] = (demographic_df_new["Pacific"]*demographic_df_new["TotalPop"])/100

demographic_df_new.head()

,State,TotalPop,Hispanic,White,Black,Native,Asian,Pacific
0,Alabama,55221,1435.746,41857.518,10215.885,220.884,552.210,0.0
1,Alabama,195121,8780.445,162145.551,18536.495,1170.726,1365.847,0.0
2,Alabama,26932,1238.872,12442.584,12577.244,53.864,107.728,0.0
3,Alabama,22604,497.288,16839.980,4837.256,90.416,22.604,0.0
4,Alabama,57710,4963.060,50727.090,865.650,173.130,57.710,0.0

### 2. We summed the number of people in each county and grouped by state.

In [4]:
demographic_df_new = demographic_df_new.groupby(demographic_df_new["State"], as_index=False).sum()
demographic_df_new.head()

,State,TotalPop,Hispanic,White,Black,Native,Asian,Pacific
0,Alabama,4830620,1.931916e+05,3.204688e+06,1270589.420,22035.628,59354.702,1095.318
1,Alaska,733375,4.787202e+04,4.574529e+05,23626.876,98392.144,42337.394,8648.932
2,Arizona,6641928,2.015063e+06,3.751936e+06,263020.036,265843.505,193808.980,11591.873
3,Arkansas,2958208,2.032525e+05,2.177132e+06,456641.246,16567.564,39995.948,6634.705
4,California,38421464,1.474653e+07,1.487873e+07,2157961.356,144703.993,5192711.429,133270.866

### 3. We then devided the number of people per race by the summed up total population.

In [5]:
demographic_df_new["Hispanic"] = round((demographic_df_new["Hispanic"]/demographic_df_new["TotalPop"])*100,2)
demographic_df_new["White"] = round((demographic_df_new["White"]/demographic_df_new["TotalPop"])*100,2)
demographic_df_new["Black"] = round((demographic_df_new["Black"]/demographic_df_new["TotalPop"])*100,2)
demographic_df_new["Native"] = round((demographic_df_new["Native"]/demographic_df_new["TotalPop"])*100,2)
demographic_df_new["Asian"] = round((demographic_df_new["Asian"]/demographic_df_new["TotalPop"])*100,2)
demographic_df_new["Pacific"] = round((demographic_df_new["Pacific"]/demographic_df_new["TotalPop"])*100,2)

demographic_df_new.head()

        State  TotalPop  Hispanic  White  Black  Native  Asian  Pacific
0     Alabama   4830620      4.00  66.34  26.30    0.46   1.23     0.02
1      Alaska    733375      6.53  62.38   3.22   13.42   5.77     1.18
2     Arizona   6641928     30.34  56.49   3.96    4.00   2.92     0.17
3    Arkansas   2958208      6.87  73.60  15.44    0.56   1.35     0.22
4  California  38421464     38.38  38.73   5.62    0.38  13.52     0.35

### 4. Renaming our columns to make clear that these are percentages.

In [6]:
demographic_df_new = demographic_df_new.rename(columns={"Hispanic": "Hispanic_perc", "White": "White_perc", "Black": "Black_perc", 
                                   "Native": "Native_perc", "Asian": "Asian_perc", "Pacific": "Pacific_perc"})
demographic_df_new.head()

,State,TotalPop,Hispanic_perc,White_perc,Black_perc,Native_perc,Asian_perc,Pacific_perc
0,Alabama,4830620,4.00,66.34,26.30,0.46,1.23,0.02
1,Alaska,733375,6.53,62.38,3.22,13.42,5.77,1.18
2,Arizona,6641928,30.34,56.49,3.96,4.00,2.92,0.17
3,Arkansas,2958208,6.87,73.60,15.44,0.56,1.35,0.22
4,California,38421464,38.38,38.73,5.62,0.38,13.52,0.35

## Extracting second CSV into Dataframe:

In [7]:
csv_file_2 = "Resources/usa_people_shot.csv"
shot_df = pd.read_csv(csv_file_2)
shot_df

                   State  Number of people
0             California               210
1                  Texas               108
2                Florida                71
3                Arizona                44
4                Georgia                39
5               Oklahoma                38
6                   Ohio                36
7               Colorado                31
8              Louisiana                28
9         North Carolina                26
10              New York                25
11              Virginia                23
12          Pennsylvania                23
13            Washington                23
14            New Jersey                23
15              Missouri                22
16              Illinois                22
17               Indiana                21
18        South Carolina                21
19            New Mexico                21
20             Tennessee                21
21              Michigan                20
22               Alabama                19
23              Kentucky                19
24                Nevada                18
25                Oregon                17
26              Maryland                17
27             Minnesota                13
28             Wisconsin                12
29           Mississippi                12
30         West Virginia                12
31                Kansas                11
32         Massachusetts                10
33                  Utah                10
34              Nebraska                 9
35                 Idaho                 7
36  District of Columbia                 6
37                  Iowa                 5
38               Wyoming                 5
39                Hawaii                 5
40                Alaska                 5
41              Arkansas                 5
42           Connecticut                 4
43               Montana                 4
44              Delaware                 3
45         New Hampshire                 3
46                 Maine                 2
47          South Dakota                 2
48               Vermont                 1
49          North Dakota                 1
50          Rhode Island                 1

In [8]:
shot_df_new = shot_df[["State", "Number of people"]].copy()
shot_df_new.head()

        State  Number of people
0  California               210
1       Texas               108
2     Florida                71
3     Arizona                44
4     Georgia                39

### 1. Renaming columns.

In [9]:
shot_df_new = shot_df_new.rename(columns={"Number of people": "Number_of_People"})
shot_df_new.head()

        State  Number_of_People
0  California               210
1       Texas               108
2     Florida                71
3     Arizona                44
4     Georgia                39

### 2. Sorting the dataframe by state.

In [10]:
shot_df_new = shot_df_new.sort_values(by="State", ascending =True)
shot_df_new.head()

         State  Number_of_People
22     Alabama                19
40      Alaska                 5
3      Arizona                44
41    Arkansas                 5
0   California               210

## Creating database connection:

In [11]:
rds_connection_string = "root:shayan1371@127.0.0.1/etl_db"
engine = create_engine(f'mysql+pymysql://{rds_connection_string}')

In [12]:
# Confirm tables
engine.table_names()

['demographic', 'people_shot']

## Loading DataFrames into SQL database:

In [13]:
demographic_df_new.to_sql(name='demographic', con=engine, if_exists='append', index = False)

In [14]:
shot_df_new.to_sql(name='people_shot', con=engine, if_exists='append', index = False)

## Confirming data was loaded properly:

In [15]:
pd.read_sql_query("SELECT * FROM demographic", con = engine).head()

,id,State,TotalPop,Hispanic_perc,White_perc,Black_perc,Native_perc,Asian_perc,Pacific_perc
0,1,Alabama,4830620.0,4.00,66.34,26.30,0.46,1.23,0.02
1,2,Alaska,733375.0,6.53,62.38,3.22,13.42,5.77,1.18
2,3,Arizona,6641930.0,30.34,56.49,3.96,4.00,2.92,0.17
3,4,Arkansas,2958210.0,6.87,73.60,15.44,0.56,1.35,0.22
4,5,California,38421500.0,38.38,38.73,5.62,0.38,13.52,0.35

In [16]:
pd.read_sql_query("SELECT * FROM people_shot", con = engine).head()

   id       State  Number_of_People
0   1     Alabama                19
1   2      Alaska                 5
2   3     Arizona                44
3   4    Arkansas                 5
4   5  California               210

## SQL Queries:
### 1. We created 2 tables in SQL for each of our dataframes.
CREATE DATABASE etl_db;
USE etl_db;

CREATE TABLE demographic(
id INT AUTO_INCREMENT PRIMARY KEY,
State VARCHAR(20),
TotalPop FLOAT,
Hispanic_perc FLOAT,
White_perc FLOAT,
Black_perc FLOAT,
Native_perc FLOAT,
Asian_perc FLOAT,
Pacific_perc FLOAT);

CREATE TABLE people_shot(
id INT AUTO_INCREMENT PRIMARY KEY,
State VARCHAR(20),
Number_of_People INT);

### 2. Once the dataframes were loaded into the SQL tables, we joined them on the state column.
USE etl_db;

SELECT * FROM demographic;
SELECT * FROM people_shot;

CREATE TABLE analysis(
SELECT d.*, p.Number_of_People FROM 
demographic d
JOIN people_shot p 
ON (d.State = p.State)
);

SELECT * FROM analysis;

### 3. Using the same query as above we created a new table in SQL.